/* body {
    font-family: Arial, sans-serif;
}

header {
    background-image: url('assets/images/header-bg.jpg');
    background-size: cover;
}

.text-primary {
    color: #007cad !important;
}

.text-decoration-none {
    text-decoration: none;
}

.card-hover {
    transition: transform 0.3s, box-shadow 0.3s;
}

.card-hover:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    width: 100%;
    height: auto;
}

footer {
    margin-top: 30px;
} */
